*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo{
    font-size: 20px;
    font-weight: 600;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    height: 80%;
    width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.one{
    background-color: antiquewhite;
    border-radius: 20px;
}
.two{
    background-color: aquamarine;
    border-radius: 20px;
}
.three{
    background-color: beige;
    border-radius: 20px;
}
.four{
    background-color: bisque;
    border-radius: 20px;
}