* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo{
    font-size: 20px;
    font-weight: 600;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80%;
    width: 80%;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left{
    background-color: aqua;
    border-radius: 20px;
}

.middle{
    background-color: red;
    border-radius: 20px;
}

.right{
    background-color: aquamarine;
    border-radius: 20px;
}

