* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
}

header{
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 20px;
}

main{
    display: flex;
    flex-direction: column;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80%;
    width: 80%;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
}